*{
    font-family: cursive;
}
body{
    /* display: flex; */
    /* flex-direction: column; */
    min-width: 800px;
    background-color: rgb(227, 247, 255);
    justify-content: center;
    align-items: center;
}
img{
    height: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: midnightblue; */
    padding: 20px;
}
.logo{
    width: 250px;
    height: auto;
}
.game-choices{
    display: flex;
}
.game-choice-1{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
}
.game-choice-2{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
}
.results{
    display: flex;
    text-align: center;
    justify-content: center;
}
.controlls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.controller{
    padding: 20px;
}
.controller button{
    padding: 20px;
}
.game-section{
    display: none;
}
.start-game{
    /* display: flex; */
    text-align: center;
}
.start-btn{
    padding: 20px 50px;
    font-size: 30px;
    border-radius: 20px;
    min-width: 400px;
    background-color: green;
    color: white;
    font-weight: 600;
    font-family: cursive;
}
button{
    padding: 20px 50px;
    font-size: 30px;
    border-radius: 20px;
    min-width: 40px;
    background-color: green;
    color: white;
    font-weight: 600;
    font-family: cursive;
}
#user-choice, #computer-choice{
    position: absolute;
    margin-left: -120px;
    margin-top: 50px;
    color: rgb(252, 252, 252);
}
#chat{
    
}